---
import { getEntry, render } from "astro:content";
import MainGridLayout from '../layouts/MainGridLayout.astro'
// @ts-ignore : This module exists
import { i18n } from '../i18n/translation'
import I18nKey from '../i18n/i18nKey'
import Markdown from '@components/misc/Markdown.astro'

const fourohfour = await getEntry("spec", "404");

if (!fourohfour) {
	throw new Error("About page content not found");
}
const { Content } = await render(fourohfour);

---
<MainGridLayout title={i18n(I18nKey.fourohfour)} description={i18n(I18nKey.fourohfour)}>
    <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-9 py-6 relative w-full ">
            <Markdown class="mt-2">
                <Content />
            </Markdown>
        </div>
    </div>
</MainGridLayout>
