---
import type { Post } from "@/types/posts";
import { getPostUrlBySlug } from "@utils/url-utils";
import PostCard from "./PostCard.astro";

const page: Record<string, Post> = Astro.props.page;

// biome-ignore lint/style/useConst:
let delay = 0;
const interval = 50;
---

<div
  class="transition flex flex-col rounded-[var(--radius-large)] bg-[var(--card-bg)] py-1 md:py-0 md:bg-transparent md:gap-4 mb-4"
>
  {
    Object.entries(page).map(([rkey, entry]) => {
        return (
          <PostCard
            entry={entry}
            title={entry.extendedData?.title ?? "Post has invalid title"}
            tags={entry.extendedData?.tags ?? []}
            category={entry.extendedData?.category ?? "Uncatagorized"}
            published={new Date(entry.extendedData?.published ?? 0)}
            authors={entry.extendedData?.authors ?? []}
            updated={entry.extendedData?.updated}
            url={getPostUrlBySlug(rkey)}
            image={entry.extendedData?.image ?? ""}
            description={entry.extendedData?.description ?? ""}
            draft={entry.extendedData?.draft ?? false}
            class:list="onload-animation"
            style={`animation-delay: calc(var(--content-delay) + ${delay++ * interval}ms);`}
            readingTime={entry.extendedData?.readingTime ?? {text: "", minutes: 0, time: 0, words: 0}}
          />
        );
      }
    )
  }
</div>
